@model HomeDetailsViewModel;

@{
    ViewBag.Title = "Employee Details";
}

<h1>Hello from @Model.PageTitle!</h1>
<div>
    @Model.Employee.Name
</div>
<div>
    @Model.Employee.Email
</div>
<div>
    @Model.Employee.Department
</div>

@section Scripts{
    <script src="~\wwwroot\js\CustomScript.js"></script>
}