@model ResetPasswordViewModel;
@{
    ViewBag.Title = "Reset Password";
}

<div class="row">
    <div class="col-md-12">
        <h1>Reset Password</h1>

        <form asp-action="ResetPassword" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="UserId">
            <input type="hidden" asp-for="Token">
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control">
            </div>
            <div class="form-group">
                <label asp-for="PasswordConfirmation"></label>
                <input asp-for="PasswordConfirmation" class="form-control"></input>
            </div>
            <div class="float-md-right m-1">
                <button type="submit" class="btn btn-primary">Reset</button>
            </div>
        </form>
    </div>
</div>


