@inject SignInManager<IdentityUser> signInManager;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/css/site.css" rel="stylesheet" />
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.js"></script>
    <environment include="Development">
    <link href="~/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    </environment>

    <environment exclude="Development">
        <link rel="stylesheet" 
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" 
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" 
        crossorigin="anonymous"
        asp-fallback-href="~/lib/twitter-bootstrap/css/bootstrap.min.css"
        asp-fallback-test-class="sr-only"
        asp-fallback-test-property="position"
        asp-fallback-test-value="absolute"
        asp-suppress-fallback-integrity="true">
    </environment>

    <title>@ViewBag.Title</title>
</head>
<body>
    <nav class="navbar navbar-light navbar-expand-lg bg-light">
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a asp-action="Index" asp-controller="Home" class="nav-link">List</a>
            </li>
            <li class="nav-item">
                <a asp-action="Create" asp-controller="Home" class="nav-link">Create</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            @if (signInManager.IsSignedIn(User))
            {
                <li class="nav-item">
                    <form asp-action="Logout" asp-controller="Account" method="post">
                        <button type="submit" asp-action="Logout" asp-controller="Account"
                         class="nav-link btn btn-link py-0" style="width: auto;">
                            Logout @User.Identity.Name
                        </button>
                    </form>
                </li>
            }
            else
            {
                <li class="nav-item">
                <a asp-action="Register" asp-controller="Account" class="nav-link">Register</a>
                </li>
                 <li class="nav-item">
                <a asp-action="Login" asp-controller="Account" class="nav-link">Login</a>
                </li>
            }
        </ul>
        </div>
    </nav>
    <div class="container">
        @RenderBody()
    </div>
    @RenderSection("Scripts", required: false)
    
</body>
</html>